* {
    font-family: var(--font);
    /*border: lime solid 1px; */
}

.top-paws {
    position: absolute;
    top: 4rem;
    left: 63rem;
}

.separator-paws {
    display: flex;
    justify-content: end;
    margin-right: 14rem;
    margin-block: 2rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-bg-color);
    border-radius: var(--border-radius);
    position: relative;
    padding: 6rem 1rem 1rem 1rem;
}

.main-header {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    width: 80%;
    position: absolute;
    top: -4rem;
    left: 4rem;
    display: flex;
    justify-content: space-between;
}

.main-title-img {
    width: 100%;
    position: absolute;
    top: -4.4rem;
    left: -8rem;
    transform: scale(0.8);
}

.main-title {
    color: var(--btn-color);
    font-weight: var(--header-link-weight);
    width: 16rem;
    height: auto;
    line-height: var(--main-header-line-height);
    font-size: var(--main-title-header);
    padding: 0 2rem 0rem 2rem;
    text-align: end;
}

.header-text {
    text-align: center;
    margin-block: 3rem 2rem;
    font-weight: var(--header-link-weight);
    padding-inline: 5rem;
}

.gen-text-body {
    font-size: var(--text-body-size);
    margin: 2rem 4rem 2rem 4rem;
}

.other-content, .main-content {
    width: 100%;
}

.other-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-bg-color);
    border-radius: var(--border-radius);
    position: relative;
    margin-top: 8rem;
    padding: 6rem 1rem 1rem 1rem;
}

.other-header {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    width: 80%;
    position: absolute;
    top: -4rem;
    left: 4rem;
    display: flex;
    justify-content: space-between;
}

.other-title-img {
    width: 100%;
    position: absolute;
    top: -13.8rem;
    left: 7rem;
    transform: scale(0.45);
}

.other-title {
    color: var(--btn-color);
    font-weight: var(--header-link-weight);
    width: 14rem;
    height: auto;
    line-height: var(--main-header-line-height);
    font-size: var(--main-title-header);
    padding: 0 2rem 0rem 2rem;
    text-align: start;
}