<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img src="assets/dog pictures/pug-dog-isolated-white-background.png" alt="" class="main-title-img">
                </div>
                <h1 class="main-title">INTERESTED IN DOGGO FOREVER?</h1>
            </div>

            <h2 class="header-text">WE’RE COMMITTED TO HELPING OUR FURRY FRIENDS!</h2>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>

            <h2 class="header-text">OR SEND US A MESSAGE BELOW!</h2>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="other-container">

        <div class="other-content">

            <div class="other-header">
                <h1 class="other-title">OTHER STUFF IDK HUHUHU</h1>
                <div class="head-img-container">
                    <img src="assets/dog pictures/38709003_8601514.png" alt="" class="other-title-img">
                </div>
            </div>

            <h2 class="header-text">MORE INFO. ADD VET STUFF? WHAT WE DO!!</h2>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>

        </div>

    </div>

</div>
