<div class="main-wrapper">

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img src="assets/dog pictures/314f34.png" alt="" class="head-img">
                </div> 
            </div>

            <form action="#" method="POST">
                <input type="name" id="name" name="name" value="{{dummyName}}" placeholder="Enter your name..." required>
                <input type="email" id="email" name="email" value="{{dummyEmail}}" placeholder="Enter your email..." required>
                <input type="password" id="password" name="password" value="{{dummyPassword}}" placeholder="Enter your password..." required>
                <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm password..." required>
                <button class="btn" type="submit">SAVE CHANGES</button>
                <button class="btn-other" type="reset">DISCARD</button>
            </form>
            
        </div>


    </div>

</div>