<div class ="main-wrapper">

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">
    
            <div class="main-header">
                <div class="head-img-container"></div>
                <div class="name">USERWHOWANTS</div>
                        <div class="info-text-item">ADOPTION SUBMISSION INFO HERE</div>
                        <div class="info-text-item">####</div>
                        <div class="info-text-item">###</div>
                        <div class="info-text-item">####</div>
                        <div class="info-text-item">###</div>
                        <div class="info-text-item">###</div>
                        <div class="info-text-item">STATUS: ???</div>
            </div>
    
            <div class="main-header">
                <div class="head-img"><img src="assets\dog pictures\dog-card-img.jpg" alt="" class="head-img"></div>
                <div class="name">HAM SANDWICH</div>
                <div class="info-text-item">
                    4 years old, Male, Lab mix
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue.
                </div>
            </div>
    
            <a href="" class="dog-profile-btn">
                <img src="assets/dog pictures/edit btn.svg" alt="">
            </a>

        </div>
    
    
    </div>

</div>