<div class="main-wrapper">

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <h1 class="main-title">GOT AN ACCOUNT WITH US? WELCOME BACK!</h1>
                <div class="head-img-container">
                    <img src="assets/dog pictures/cute-shiba-inu.png" alt="" class="main-title-img">
                </div>
            </div>

            <form (ngSubmit)="login()">
                <input type="email" id="email" name="email" placeholder="Enter your email..." [(ngModel)]="user.username" required>
                <input type="password" id="password" name="password" placeholder="Enter your password..." [(ngModel)]="user.password" required>
                <button class="btn" type="submit">SIGN IN!</button>
            </form>

            <button class="btn-other" [routerLink]="'/sign-up'">
                DON’T HAVE AN ACCOUNT? REGISTER NOW!
            </button>



        </div>


    </div>

</div>