    <div class="main-wrapper">

        <div class="separator-paws">
            <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
        </div>

        <div class="main-container">

            <div class="main-content">

                <div class="main-header">
                    <div class="head-img-container">
                        <img src="assets/dog pictures/default-user.png" alt="" class="head-img">
                    </div> 
                </div>

                <form>
                    <input type="name" id="name" name="name" [(ngModel)]="user.name" disabled>
                    <input type="email" id="email" name="email" [(ngModel)]="user.username" disabled>
                    <input type="password" id="password" name="password" [(ngModel)]="user.password" disabled>
                    <input type="tel" id="contact" name="contact" pattern="[0-9]{11}" [(ngModel)]="user.contact" disabled>
                    <input type="text" id="address" name="address" [(ngModel)]="user.address" disabled>
                    <button class="btn" [routerLink]="['/account/details/edit', user.id]">EDIT ACCOUNT</button>
                </form>
                
                <button class="btn-other" (click)="deleteUser()">DELETE ACCOUNT</button>

            </div>


        </div>

    </div>