* {
    font-family: var(--font);
    /* border: lime solid 1px; */
}

.sidenav-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    top: 5.5rem;
    left: -23.2rem;
}

.sidenav {
    background-color: var(--container-bg-color);
    border-radius: 30px;
    width: 13rem;
    height: auto;
    position: relative;
    padding-top: 2rem;
}

.img-container {
    display: flex;
    justify-content: center;
}

.site-img {
    width: 5rem;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    bottom: 20.5rem;
    /* border: var(--accent-color) 3px solid; */
}

.site-title {
    text-align: center;
    line-height: var(--header-line-height);
    font-size: var(--header-size);
    color: var(--accent-color);
    font-weight: var(--header-link-weight);
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-block: 2rem 4rem;
}

.nav-link-item {
    color: var(--font);
    font-size: var(--nav-link-size);
    text-decoration: none;
    margin-block: 5px;
    width: 110px;
    cursor: pointer;
}

.nav-link-item.active {
    color: #FFFFFF;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding-inline: 1rem;
}

.nav-link-item:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    transition: 0.1s ease-out;
}

.btn {
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--btn-color);
    font-weight: var(--header-link-weight);
    font-size: var(--gen-link-size);
    position: absolute;
    padding: 1px 15px 1px 15px;
    border-radius: var(--border-radius);
    left: 2.5rem;
    bottom: -20px;
    cursor: pointer;
    transition: 0.1s ease-out;
    border: 3px solid transparent;
}

.btn:hover {
    background-color: #FFFFFF;
    color: var(--accent-color);
    transition: 0.1s ease-out;
    border-color: var(--accent-color);
}