<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="account-content">

            <div class="main-header">
                <div class="main-title">
                    <h1>Welcome back, {{nickname}}!</h1>
                </div>
                <img [src]="'http://localhost:18080/uploads/' + user.img" alt="" class="head-img">
            </div>

            <div class="account-buttons">
                <button class="btn-changeaccount" [routerLink]="['/account/details', user.id]">ACCOUNT DETAILS</button>
                <p class="gen-text-body" (click)="logout()">SIGN OUT</p>    
            </div>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="empty-container-top-account">
        <button class="btn-disabled">MY APPLICATIONS</button>
    </div>

    <!-- no adoptions message -->
    <div *ngIf="adoptions.length === 0">
        <div class="main-container" style="text-align: center; padding: 1rem;">
            <h2>No adoption applications found in the database.</h2>
        </div>
        <div class="empty-container-bottom-account">
            <button class="btn" [routerLink]="'/adoptable-dogs'">ADOPT NOW!</button>
        </div>
    </div>

    <!-- with adoptions message -->
    <div *ngIf="adoptions.length > 0">
        <div class="main-container-dog">
            <div class="imgdogcard-content">
                <img [src]="'http://localhost:18080/uploads-dogs/' + adoptions[0].dog?.img " alt="Dog Profile Image">
            </div>
            <div class="detaildogcard-content">
                <h2 class="gen-text-body-dogcard-head"><b>{{adoptions[0].dog?.name}}</b></h2>
                <p class="gen-text-body-dogcard">AGE: {{adoptions[0].dog?.age}} years old</p>
                <p class="gen-text-body-dogcard">GENDER: {{adoptions[0].dog?.age}}</p>
                <p class="gen-text-body-dogcard">DATE SUBMITTED: {{adoptions[0].datetime | date: 'mediumDate'}}</p>
                <p class="gen-text-body-dogcard">TIME SUBMITTED: {{adoptions[0].datetime | date: 'shortTime'}}</p>
                <p class="gen-text-body-dogcard">STATUS: {{adoptions[0].status}}</p>
                <img src="assets/dog pictures/view profile btn.svg" alt="" class="dog-profile-btn" [routerLink]="['/dog-profile', adoptions[0].dog?.id]">
            </div>
        </div>
        
        <div class="empty-container-bottom-account">
            <button class="btn" [routerLink]="'/account/applications'">VIEW MORE</button>
        </div>
    </div>
    

</div>