<div class="main-wrapper">

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img [src]="'http://localhost:18080/uploads/' + user.img" alt="" class="head-img">
                </div> 
            </div>

            <form class="image-form" (ngSubmit)="uploadImage()" #imageForm="ngForm" enctype="multipart/form-data">
                <div>
                    <label for="file-upload" class="">UPLOAD IMAGE</label>
                    <input id="file-upload" type="file" accept="image/*" (change)="onFileSelected($event)"/>
                </div>
                <button class="btn-image" type="submit">UPLOAD IMAGE</button>
            </form>

            <form (ngSubmit)="updateUser()" #userForm="ngForm">
                <input type="name" id="name" name="name" [(ngModel)]="user.name" placeholder="Enter your name..." required>
                <input type="tel" id="contact" name="contact" pattern="[0-9]{11}" [(ngModel)]="user.contact" placeholder="Enter phone number..." required
                    (focus)="onFocus()" (blur)="onBlur()">
                <input type="text" id="address" name="address" [(ngModel)]="user.address" placeholder="Enter address..." required>
                <button class="btn" type="submit">SAVE CHANGES</button>
                <button class="btn-other" type="reset">DISCARD</button>
            </form>

            
        </div>


    </div>

</div>