<div class="main-wrapper">

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                    <img src="assets/dog pictures/baptist-standaert-mx0DEnfYxic-unsplash.jpg" alt="" class="head-img">
            </div>

            <form action="#" method="POST">
                <div>
                  <label for="id">ID:</label>
                  <input type="id" id="id" name="id" required>
                </div>
                <div>
                  <label for="name">NAME:</label>
                  <input type="name" id="name" name="name" required>
                </div>
                <div>
                  <label for="age">AGE:</label>
                  <input type="age" id="age" name="age" required>
                </div>
                <div>
                  <label for="gender">GENDER:</label>
                  <input type="gender" id="gender" name="gender" required>
                </div>
                <div>
                    <label for="gender">BREED:</label>
                    <input type="gender" id="gender" name="gender" required>
                  </div>
                <div>
                  <label for="description">DESCRIPTION:</label>
                  <textarea id="description" name="description" rows="5" cols="50" required></textarea>
                </div>
              </form>

        </div>

    </div>

</div>