<div class="main-wrapper">

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <h1 class="main-title">GIVE OUR DOGS A FOREVER HOME!</h1>
                <div class="head-img-container">
                    <img src="assets/dog pictures/cute-golden-retriever.png" alt="" class="main-title-img">
                </div>
            </div>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>
        </div>

        <div class="other-content">
            
            <div class="other-img-header">
                <h2 class="img-title">MEET OUR DOGS!</h2>
                <div class="img-container">
                    <img src="assets/dog pictures/alvan-nee-FHl79chXS6s-unsplash.jpg" alt="" class="other-img">
                </div>
            </div>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>

        </div>

    </div>

</div>