<html>
    <head>
        <title>Dog Card</title>
        <link rel="stylesheet" href="dog-card.component.css">
    </head>

    <div class="card-wrapper">
        <div class="dog-card">

        <div class="img-container">
           <img src="assets/dog pictures/dog-card-img.jpg" class="dog-img"> 
        </div>
        
        <div class="card-text-wrapper">
            <h2 class="dog-name"> Ham Sandwich</h2>
            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nullam vestibulum risus in eros mattis, eget mollis 
                est tristique. Donec sed lorem quam.
                
            </p>
        </div>

        <a href="/dog-profile" class="dog-profile-btn">
            <img src="assets/dog pictures/paw.png" alt="">
        </a>

        </div>      
    </div>


</html>


