* {
    font-family: var(--font);
    /*border: lime solid 1px; */
}

.top-paws {
    position: absolute;
    top: 4rem;
    left: 63rem;
}

.separator-paws {
    display: flex;
    justify-content: end;
    margin-right: 14rem;
    margin-block: 2rem;
}

.main-container,
.main-container-dog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-bg-color);
    border-radius: var(--border-radius);
    position: relative;
    padding: 6rem 1rem 1rem 1rem;
    width: 38rem !important; 
}

.main-header {
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    width: 80%;
    position: absolute;
    top: -4rem;
    left: 4rem;
    display: flex;
    justify-content: space-between;
}

.main-title-img {
    width: 100%;
    position: absolute;
    top: -7.2rem;
    left: -8rem;
    transform: scale(0.8);
}

.main-title {
    color: var(--btn-color);
    font-weight: var(--header-link-weight);
    width: 16rem;
    height: auto;
    line-height: var(--main-header-line-height);
    font-size: var(--main-title-header);
    padding: 0 2rem 0rem 2rem;
    text-align: end;
}

.gen-text-body {
    font-size: var(--text-body-size);
    margin: 2rem 4rem 2rem 4rem;
}

.other-content, .main-content {
    width: 100%;
}

/* DOG CARD STYLES */

.main-container-dog {
    flex-direction: row;
    padding: 0;
    width: 100% !important; 
    margin-bottom: 3rem !important;
}

.imgdogcard-content {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: left;
}

.imgdogcard-content img{
    width: 20rem;
    height: 20rem;
    border-radius: var(--border-radius);
    object-fit: cover;
}

.detaildogcard-content {
    padding: 0 2rem;
}

.gen-text-body-dogcard-head {
    font-size: var(--gen-link-size);
    font-weight: var(--header-link-weight);
    text-transform: uppercase;
    margin-top: 2rem;
}

.gen-text-body-dogcard {
    font-size: var(--text-body-size);
    margin: 0;
    margin-top: 0.5rem;
}

.dog-profile-btn {
    position: absolute;
    bottom: -25px;
    right: 3rem;
    cursor: pointer;          
}

/* BTN STYLES */

.empty-container-bottom-account {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2rem 0rem;
}

.btn{
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--btn-color);
    font-weight: var(--header-link-weight);
    font-size: var(--gen-link-size);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.1s ease-out;
    border: 3px solid transparent;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
}

.btn:hover {
    background-color: #FFFFFF;
    color: var(--accent-color);
    transition: 0.1s ease-out;
    border-color: var(--accent-color);
}