<div class ="main-wrapper">
    
    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img src="assets/dog pictures/pug-dog-isolated-white-background.png" alt="" class="main-title-img">
                </div>
                <h1 class="main-title">THANK YOU FOR ADOPTING!</h1>
            </div>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam.
            </p>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="dogcard-container">

        <div class="imgdogcard-content">
            <img src="assets/dog pictures/dog-card-img.jpg" alt="" class="dog-card-img">
        </div>
        <div class="detaildogcard-content">
            <p class="gen-text-body-dogcard-head"><b>MARCO POLO</b></p><br>
            <p class="gen-text-body-dogcard">AGE: 3 years old</p><br>
            <p class="gen-text-body-dogcard">GENDER: Male</p><br>
            <p class="gen-text-body-dogcard">BREED: Pitbull</p><br>
            <p class="gen-text-body-dogcard">DATE SUBMITTED: 04/04/2034</p><br>
            <p class="gen-text-body-dogcard">STATUS: Currently being reviewed...</p><br>
        </div>

    </div>

    <div class="dogcard-container">

        <div class="imgdogcard-content">
            <img src="assets/dog pictures/dog-card-img.jpg" alt="" class="dog-card-img">
        </div>
        <div class="detaildogcard-content">
            <p class="gen-text-body-dogcard-head"><b>SHOTPUT</b></p><br>
            <p class="gen-text-body-dogcard">AGE: 2 years old</p><br>
            <p class="gen-text-body-dogcard">GENDER: Female</p><br>
            <p class="gen-text-body-dogcard">BREED: Lab mix?</p><br>
            <p class="gen-text-body-dogcard">DATE SUBMITTED: 12/01/2017</p><br>
            <p class="gen-text-body-dogcard">STATUS: Approved!</p><br>
        </div>

    </div>

</div>
