<div class ="main-wrapper">
    
    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img src="assets/dog pictures/cute-collie.png" alt="" class="main-title-img">
                </div>
                <h1 class="main-title">THANK YOU FOR ADOPTING!</h1>
            </div>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam.
            </p>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="dogcard-container">

        <div class="imgdogcard-content">
            <img src="assets/dog pictures/dog-card-img.jpg" alt="" class="dog-card-img">
        </div>
        <div class="detaildogcard-content">
            <h2 class="gen-text-body-dogcard-head"><b>Crema la Cookie</b></h2>
            <p class="gen-text-body-dogcard">AGE: 5 years old</p>
            <p class="gen-text-body-dogcard">GENDER: Female</p>
            <p class="gen-text-body-dogcard">DATE SUBMITTED: 06/09/420</p>
            <p class="gen-text-body-dogcard">STATUS: Rejected</p>
            <img src="assets/dog pictures/view profile btn.svg" alt="" class="dog-profile-btn" [routerLink]="'/dog-profile'">
        </div>

    </div>

    <div class="dogcard-container">

        <div class="imgdogcard-content">
            <img src="assets/dog pictures/dog-card-img.jpg" alt="" class="dog-card-img">
        </div>
        <div class="detaildogcard-content">
            <h2 class="gen-text-body-dogcard-head"><b>Crema la Cookie</b></h2>
            <p class="gen-text-body-dogcard">AGE: 5 years old</p>
            <p class="gen-text-body-dogcard">GENDER: Female</p>
            <p class="gen-text-body-dogcard">DATE SUBMITTED: 06/09/420</p>
            <p class="gen-text-body-dogcard">STATUS: Rejected</p>
            <img src="assets/dog pictures/view profile btn.svg" alt="" class="dog-profile-btn" [routerLink]="'/dog-profile'">
        </div>

    </div>

</div>
