<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img src="assets/dog pictures/pug-dog-isolated-white-background.png" alt="" class="main-title-img">
                </div>
                <h1 class="main-title">MEET OUR PAWSOME PALS!</h1>
            </div>

            <h2 class="header-text">ADOPT A NEW FRIEND!</h2>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam.
            </p>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container" *ngIf="dogs.length === 0" style="text-align: center;">
        <h2>There are no dogs available for adoption.</h2>
        <p style="font-size: var(--text-body-size)">Come back later!</p>
        <br><br>
    </div>

    <div class="grid-container">
        <app-dog-card *ngFor="let dog of dogs" [dog]="dog"></app-dog-card>
    </div>

</div>
