<div class="sidenav-wrapper">
    <div class="sidenav">
        <div class="img-container">
            <img src="assets/dog pictures/314f34.png" alt="" class="site-img">
        </div>

        <h1 class="site-title">DOGGO FOREVER</h1>

        <div class="nav-links">
            <a href="#" class="nav-link-item">HOME</a>
            <a href="#" class="nav-link-item">CONTACT</a>
            <a href="#" class="nav-link-item">ABOUT US</a>
            <a href="#" class="nav-link-item">ACCOUNT</a>
        </div>

        <a href="#" class="btn">ADOPT</a>
    </div>
</div>