<div class="sidenav-wrapper">
    <div class="sidenav">
        <div class="img-container">
            <img src="assets/dog pictures/df-logo.png" alt="" class="site-img">
        </div>

        <h1 class="site-title">DOGGO FOREVER</h1>

        <div class="nav-links">
            <a [routerLink]="'/'" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ 
                    paths: 'exact', matrixParams: 'ignored', queryParams: 'ignored', fragment: 'ignored' }"class="nav-link-item">HOME</a>
            <a [routerLink]="'/contact'" routerLinkActive="active" class="nav-link-item">CONTACT</a>
            <a [routerLink]="'/about-us'" routerLinkActive="active" class="nav-link-item">ABOUT US</a>
            <a [routerLink]="getAccountRoute()" routerLinkActive="active" class="nav-link-item">ACCOUNT</a>
        </div>

        <a href="/adoptable-dogs" class="btn">ADOPT</a>
    </div>
</div>