<div class="sidenav-wrapper">
    <div class="sidenav">
        <div class="img-container">
            <img src="assets/dog pictures/314f34.png" alt="" class="site-img">
        </div>

        <h1 class="site-title"><a href="/">DOGGO FOREVER</a></h1>

        <div class="nav-links">
            <a href="/" class="nav-link-item">HOME</a>
            <a href="/contact" class="nav-link-item">CONTACT</a>
            <a href="/about-us" class="nav-link-item">ABOUT US</a>
            <a href="/account" class="nav-link-item">ACCOUNT</a>
        </div>

        <a href="/adoptable-dogs" class="btn">ADOPT</a>
    </div>
</div>