<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="account-content">

            <div class="account-header">
                <div class="account-title">
                    <h1>Welcome, Admin {{nickname}}!</h1>
                </div>
                <img [src]="'http://localhost:18080/uploads/' + user.img" alt="" class="head-img">
            </div>

            <div class="account-buttons">
                <div class="account-buttons-left">
                    <button class="btn-changeaccount" [routerLink]="['/admin/details', user.id]">ACCOUNT DETAILS</button>
                    <button class="btn-changeaccount" [routerLink]="'/admin/add'">CREATE NEW ADMIN</button>
                </div>
                <p class="gen-text-body" (click)="logout()">SIGN OUT</p>                    
            </div>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container-adoptions">

        <div class="main-content">

            <div class="main-header">
                <h1 class="main-title">ADOPTIONS</h1>
            </div>

            <div class="table-container">
                <!-- table card 1 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                <!-- table card 2 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                <!-- table card 3 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                <!-- table card 4 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                <!-- table card 5 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                <!-- table card 6 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                <!-- table card 7 -->
                <div class="tc-container">
                    <div class="tc-left">
                        <img src="assets/dog pictures/314f34.png" alt="">
                    </div>
                    <div class="tc-center">
                        <div class="tc-name">
                            <h2>Muffin man Muffin man Muffin man</h2>
                        </div>
                        <div class="tc-desc">
                            <p>Datetime: info info info</p>
                            <p>Status: info info info</p>
                        </div>
                    </div>
                    <div class="tc-right">
                        <img src="assets/dog pictures/view btn.svg" alt="" [routerLink]="'/'">
                        <img src="assets/dog pictures/edit btn.svg" alt="" [routerLink]="'/'">
                    </div>
                </div>
                
            </div>       
            
        </div>

    </div>

</div>