<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <div class="head-img-container">
                    <img src="assets/dog pictures/38708541_8611220.png" alt="" class="main-title-img">
                </div>
                <h1 class="main-title">WANT TO GET IN TOUCH?</h1>
            </div>

            <h2 class="header-text">SOCIALS #####</h2>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>

            <h2 class="header-text">OR SEND US A MESSAGE BELOW!</h2>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="form-container">

        <div class="form-content">

            <h2 class="header-text">MESSAGE US!</h2>
            
            <form action="#" method="POST">
                <input type="text" id="name" name="name" placeholder="Enter your name..." required>
                <br><br>
                <input type="email" id="email" name="email" placeholder="Enter your email..." required>
                <br><br>
                <textarea id="message" name="message" placeholder="Enter your message..." rows="10" required></textarea>
                <br><br>
            
            </form>

            <button class="btn" type="submit">SEND MESSAGE</button>

        </div>

    </div>

</div>
