<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="account-content">

            <div class="main-header">
                <div class="main-title">
                    <h1>Welcome,</h1>
                    <h1>ADMIN!</h1>
                </div>
                <img src="assets/dog pictures/default-user.png" alt="">
            </div>

            <div class="account-buttons">
                <div class="account-buttons-left">
                    <button class="btn-changeaccount" [routerLink]="'/admin-details'">ACCOUNT DETAILS</button>
                    <button class="btn-changeaccount" [routerLink]="'/admin-add'">CREATE NEW ADMIN</button>
                </div>
                <p class="gen-text-body" [routerLink]="'/'">SIGN OUT</p>                    
            </div>
           
        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container-manage">

        <div class="account-content-manage">

            <div class="account-buttons-manage">
                <button class="btn" [routerLink]="'/admin-dogs'">MANAGE DOGS</button>
                <button class="btn" [routerLink]="'/admin-adoptions'" >
                    MANAGE <br> ADOPTIONS</button>
            </div>

        </div>

    </div>

</div>