<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="account-content">

            <div class="account-header">
                <h1 class="main-title">Welcome [Admin]</h1>
            </div>
            <div class="main-headerimgcontainer">
                <!--.
                Insert Image of account here!
                PS. I tried to put an image here but it doesnt become circular so idk what exactly i need
                to do for this...
                -->
            </div>

            <button class="btn-changeaccount" type="submit">ACCOUNT DETAILS</button>
            <p class="gen-text-body">SIGN OUT</p>

        </div>

    </div>

    <div class="separator-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="account-content">

            <button class="btn-adminbtnmanager" type="submit">MANAGE DOGS</button>
            <button class="btn-adminbtnmanager" type="submit">MANAGE ADOPTIONS</button>

        </div>

    </div>

</div>