<div class="main-wrapper">

    <div class="main-container">

        <div class="main-content">

            <h2 class="header-text">MESSAGE US!</h2>
            
            <form action="#" method="POST">
                <input type="text" id="name" name="name" placeholder="Enter your name..." required>
                <br><br>
                <input type="email" id="email" name="email" placeholder="Enter your email..." required>
                <br><br>
                <textarea id="message" name="message" placeholder="Enter your message..." rows="10" required></textarea>
                <br><br>
            
            </form>

            <button class="btn" type="submit">SEND MESSAGE</button>

        </div>

    </div>

</div>