<div class="footer-wrapper">

    <div class="footer">

        <div class="footer-content">

            <div class="footer-links">
                <h3 class="footer-header">QUICK LINKS</h3>
                <a href="/adoptable-dogs" class="footer-link-item">ADOPT DOGS</a>
                <a href="/contact" class="footer-link-item">CONTACT US</a>
                <a href="/account" class="footer-link-item">MY ACCOUNT</a>
                <a href="/sign-in-admin" class="footer-link-item">ADMIN</a>
            </div>
            <div class="footer-links">
                <h3 class="footer-header">DEVELOPERS</h3>
                <p class="footer-link-item">Francine Taing</p>
                <p class="footer-link-item">Carlo Pasion</p>
                <p class="footer-link-item">Ruby Ventura</p>
                <p class="footer-link-item">Stephen Aquevido</p>
            </div>
            <div class="footer-links">
                <h3 class="footer-header">CONTACT US</h3>
                <p class="footer-link-item">email-email.com</p>
                <p class="footer-link-item">email-email.com</p>
                <p class="footer-link-item">email-email.com</p>
            </div>
            <div class="footer-links">
                <h3 class="footer-header">SOCIAL MEDIA</h3>
                <div class="socials">
                    <a href="https://facebook.com" target="_blank"><img src="assets/dog pictures/fa-facebook.svg" alt=""></a>
                    <a href="https://x.com" target="_blank"><img src="assets/dog pictures/fa-twitter.svg" alt=""></a>
                </div>                
            </div>

        </div>

    </div>

</div>