<div class="footer-wrapper">

    <div class="footer">

        <div class="footer-content">

            <div class="footer-links">
                <h3 class="footer-header">QUICK LINKS</h3>
                <a href="#" class="footer-link-item">LINK</a>
                <a href="#" class="footer-link-item">LINK</a>
                <a href="#" class="footer-link-item">LINK</a>
                <a href="#" class="footer-link-item">LINK</a>
            </div>
            <div class="footer-links">
                <h3 class="footer-header">DEVELOPERS</h3>
                <p class="footer-link-item">fran</p>
                <p class="footer-link-item">carlos</p>
                <p class="footer-link-item">ruby</p>
                <p class="footer-link-item">stephen</p>
            </div>
            <div class="footer-links">
                <h3 class="footer-header">CONTACT US</h3>
                <p class="footer-link-item">email-email.com</p>
                <p class="footer-link-item">email-email.com</p>
                <p class="footer-link-item">email-email.com</p>
            </div>
            <div class="footer-links">
                <h3 class="footer-header">SOCIAL MEDIA</h3>
            </div>

        </div>

    </div>

</div>