* {
    font-family: var(--font);
    /* border: lime solid 1px; */
}

.top-paws {
    position: absolute;
    top: 4rem;
    left: 63rem;
}

.separator-paws {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 15rem;
    margin-block: 2rem;
}

/* .main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
} */

.main-container,
.main-container-dogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--container-bg-color);
    border-radius: var(--border-radius);
    width: 38rem;
    position: relative;
    padding: 6rem 1rem 1rem 1rem;
}


.account-content {
    border-radius: var(--border-radius);
    width: 38rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-header {
    position: absolute;
    top: -6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.account-header img {
    border: 0.5rem solid var(--accent-color);
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.account-title {
    color: var(--btn-color);
    background-color: var(--accent-color);
    height: fit-content;
    margin: 0;
    padding: 1rem 3rem 1rem 2rem;
    border-radius: var(--border-radius);
    max-width: 16rem;
}

.account-title h1 {
    font-weight: var(--header-link-weight);
    font-size: var(--main-title-header);
    text-align: left;
    margin: 0;
    line-height: 1;
}

.account-buttons {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 0 2.5rem;
}

.account-buttons-left button{
    margin-bottom: 1rem;
}

.gen-text-body {
    font-size: var(--gen-link-size);
    width: 10rem;
    cursor: pointer;
    transition: 0.1s ease-out;
    margin: 0;
}

.btn-changeaccount {
    background-color: var(--btn-color);
    font-size: var(--gen-link-size);
    padding: 3px 17px 3px 17px;
    border: 3px solid var(--accent-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: 0.1s ease-out;
}

.gen-text-body:hover,
.btn-changeaccount:hover {
    transition: 0.1s ease-out;
    color: var(--accent-color);
}

/* second content */

.main-container-dogs {
    margin-top: 3rem;
}

.main-header {
    display: flex;
    justify-content: right;
    position: absolute;
    top: -3rem;
    right: 1.05rem;
    width: 100%;
}

.main-header img {
    cursor: pointer;
}

.main-title {
    color: var(--btn-color);
    background-color: var(--accent-color);
    text-align: center;
    font-weight: var(--header-link-weight);
    font-size: var(--main-title-header);
    padding: 0rem 2rem 0rem 2rem;
    margin-left: 1rem;
    border-radius: var(--border-radius);
    
}

/* table styles */

.table-container {
    padding: 1rem;
    max-height: 50rem;
    overflow: auto;
}

.tc-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tc-left img {
    width: 10rem;
    height: 10rem;
    border-radius: var(--border-radius);
    border: 0.5rem solid var(--accent-color);
    object-fit: cover;    
}

.tc-center {
    width: 18rem;
}

.tc-name h2 {
    font-size: x-large;
    text-transform: uppercase;
    margin: 0;
}

.tc-desc p {
    margin: 0.5rem 0;
}

.tc-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tc-right img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.no-dogs-message {
    text-align: center;
    color: gray;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
}