<div class="main-wrapper">

    <div class="top-paws">
        <img src="assets/dog pictures/multiple-paws.png" alt="" class="mult-paws">
    </div>

    <div class="main-container">

        <div class="main-content">

            <div class="main-header">
                <img src="assets/dog pictures/baptist-standaert-mx0DEnfYxic-unsplash.jpg" alt="" class="profile-img">
            </div>

            <h1 class="dog-name">HAM SANDWICH</h1>
            <h3 class="dog-details">4 years old, Male, Lab mix</h3>

            <p class="gen-text-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum risus in eros mattis, eget mollis est tristique. Donec sed lorem quam. In tellus lorem, pellentesque et interdum sed, elementum a augue. 
            </p>

        </div>

    </div>

</div>